<!DOCTYPE html>
<html>

<head>
  <title>Create a story!</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <meta charset='utf-8'>
</head>

<body>
  <p>Once upon @Model.Noun1, there were three little pigs. The
    first little pig was very @Model.Adj1, and he built a house for
    himself out of @Model.Noun4. The second little pig was
    @Model.Adj2, and he built a house out of @Model.Noun5. But
    the third little pig was very @Model.Adj3, and he built his house
    out of genuine @Model.Noun6. Well one day, a mean old wolf
    came along and saw the houses. "@Model.Exclamation1" he said. "I'll
    @Model.Verb1 and I'll @Model.Verb2 and I'll blow your house
    down." And he blew down the first little pig's @Model.Noun2 and
    the second little pig's @Model.Noun7. The two little pigs @Model.Verb3
    to the third pig's house. Thereupon, the wolf began blowing, but he
    couldn't blow down the third little pig's @Model.Noun3 house. So he
    were.off into the forest, and the three little @Model.Adj4
    pigs moved to Chicago and went into the sausage business.
</body>

</html>